# Maven
target/

# Eclipse / Java Language Server
.classpath
.project
.factorypath
.settings/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Arquivos compilados
bin/
*.class

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db